<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hasd.comp.mapper.StudentMapper">

    <select id="selectAll" resultType="cn.hasd.comp.entity.Student">
        select *
        from student
    </select>
    <select id="compA" resultType="cn.hasd.comp.entity.Student">
        select *
        from student
        where instructor = #{arg0}
        order by rand()
        limit 3
    </select>
    <select id="selectFourstudent" resultType="Integer">
        select no
        from student
        where instructor = #{arg}
        order by rand()
        limit 4;
    </select>
    <select id="selectNotYoutStudent" resultType="Integer">
        select no
        from student
        where instructor != #{arg}
        order by rand()
        limit 4;
    </select>

</mapper>
